html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  font-family: 'Amatica SC', cursive;
  color: #1c635d;
  background-color: #DEE5E5;
}

/**************************************/
/*             Navigation             */
/**************************************/
nav {
  background-color: #2c2c2c;
  color: #1c635d;
}

.navbar .navbar-brand {
  font-size: 2rem;
}

.navbar label {
  font-size: 1.5rem;
}

.navbar input {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-style: none;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
  color: #1c635d;
}

/**************************************/
/*              Sections              */
/**************************************/
.profile-title {
  background-color: #2c2c2c;
}

#profile span.fa.fa-github {
  font-size: 35rem;
}

#profile .not-found {
  font-size: 8rem;
}

.btn-custom {
  background-color: #2c2c2c;
  border-radius: 0;
}

.btn-custom a {
  color: #1c635d;
  font-family: 'Amatica SC', cursive;
  font-size: 1.50rem;
}

.list-user-data .list-group-item {
  background-color: #2c2c2c;
  color: #1c635d;
  font-size: 1.50rem;
}

.list-user-data .list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-user-data .list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}